{% extends 'deptapp/base.html' %}
{% block title %} Add Department Page {% endblock %}

{% block body %}
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-12 col-md-7">
                <div class="panel panel-default">
                    <div class="panel-body">
                        <h3>Add a New Department</h3>
                        <form class="form-horizontal" role="form" action="{% url 'deptapp:adddept' %}" method="post" enctype="multipart/form-data">
                            {% csrf_token %}
                            {% include 'deptapp/form_template.html' %}
                            <div class="form-group">
                                <div class="col-sm-offset-2 col-sm-10">
                                    <button type="submit" class="btn btn-success">Submit</button>
                                    <a href="{% url 'deptapp:home'  %}" class="btn btn-success">Cancel</a>

                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}